<section class="display-screen-main">
    <div class="display-screen-slider">
        <div class="display-screen-single-slide home d-flex justify-content-center align-items-center">
            <div class="home-box">
                <img src="../../assets/images/andco_logo.png" alt="andco logo">
            </div>
        </div>
        <div class="display-screen-single-slide ds-1 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <div class="ds-1-box">
                <h1>congrats <br> on your <br> next event</h1>
            </div>
        </div>
        <div class="display-screen-single-slide ds-2 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <h1>all set to collect aso-ebi payments?</h1>
        </div>
        <div class="display-screen-single-slide ds-3 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <div class="ds-3-bg-white">
                <div class="ds-3-box">
                    <h1>then we’re ready to collect in style for you</h1>
                </div>
            </div>
        </div>
        <div class="display-screen-single-slide ds-4 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <h1>create a web page with <br> your custom hashtag <br> and just share the link</h1>
        </div>
        <div class="display-screen-single-slide ds-5 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <h1>collect guests’ payments and delivery details easily; <br>
                as you prepare for the big day</h1>
        </div>
        <div class="display-screen-single-slide ds-6 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <h1>ready? #Let’sDoThis </h1>
        </div>
        <div class="display-screen-single-slide ds-7 d-flex flex-column justify-content-center align-items-center">
            <div class="andco-logo">
                <a href="#"><img src="../../assets/images/andco_logo.png" alt="andco logo"></a>
            </div>
            <div class="join-enter">
                <a routerLink="/signUp" class="float-left">join</a>
                <a routerLink="/login" class="float-right">enter</a>
            </div>
            <div class="ds-7-box">
                <h1>#you&I.com</h1>
                <i class="fa fa-share" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>