<section class="enter-screen-main d-flex justify-content-center align-items-center">
	<div class="andco-logo">
		<img src="../../assets/images/andco_logo.png" alt="andco logo">
	</div>
	<div class="enter-inner-box">
		<div class="join-enter">
			<a routerLink="/signUp" class="float-left">join</a>
			<a routerLink="/login" class="float-right">enter</a>
		</div>
		<div class="join-social">
			<ul>
				<li>
					<a (click)="signInWithGoogleAccount()">
						<img src="../../assets/images/gmail.png" alt="gamil icon">
					</a>
				</li>
				<li>
					<a (click)="signWithFacebook()">
						<img src=" ../../assets/images/facebook.png" alt="facebook icon">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../../assets/images/message.png" alt="local icon">
					</a>
				</li>
			</ul>
		</div>
		<form class="join_form login_form pt-0" [formGroup]="loginForm" autocomplete="off">
			<div class="join-enter-inputs">
				<input type="email" placeholder="Your email address"
					[ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" formControlName="email">
				<div class="col-md-2" *ngIf="f.email.touched && f.email.errors" class="invalid-feedback text-white">
					<div *ngIf="f.email.errors.required">Email is required</div>
					<div *ngIf="f.email.errors.email">Please enter valid Email</div>
				</div>
				<input type="password" formControlName="password" placeholder="Your password">
			</div>
			<div class="join-submit w-100 text-center">
				<button class="btn join-submit" type="submit" (click)="onSubmitLogin()"
					[disabled]="isDisable || loginForm.invalid">Enter</button>
			</div>
		</form>
	</div>
</section>