.enter-screen-main {
  background-image: url('../../assets/images/enter4.jpg');
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.enter-inner-box {
  width: 700px;
  height: 600px;
  background-color: #7CBBCD;
  border-radius: 30px;
  padding: 80px;
}

.join-enter {
  width: 100%;
  display: inline-block;
}

.join-enter a.float-left, .join-enter a.float-right {
  font-size: 20px;
  border-radius: 4px;
  padding: 7px 32px;
  font-weight: bold;
}

.join-enter a.float-left {
  color: #5C5314;
  background-color: #ffffff;
}

.join-enter a.float-right {
  color: #ffffff;
  background-color: #A20020;
}

.join-enter-quote {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.join-enter-quote p {
  font-size: 40px;
}

.join-enter-inputs {
  text-align: center;
}

.join-enter-inputs input::placeholder {
  color: #f7f7f7 !important;
  font-size: 26px !important;
  font-weight: 400;
}

.join-enter-inputs input {
  font-family: 'Manjari', 'sans-sarif';
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  width: 80%;
  height: 40px;
  font-size: 24px;
  margin-bottom: 20px;
  color: #f7f7ff;
  font-weight: 600;
}

.join-enter-inputs input:focus {
  box-shadow: none;
}

.join-submit button {
  background-color: rgba(255, 255, 255, 55%);
  color: #5C5314;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 30px;
  outline: none;
}

.join-social ul {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}

.join-social ul li {
  display: inline-block;
  margin: 0 10px;
}

.join-social ul li a img {
  height: 70px;
  width: 70px;
}

.join-social ul li:last-child {
  filter: brightness(4);
}

/* responsive css start here */

@media (max-width: 1600px) {
  .enter-inner-box {
    width: 600px;
    height: 500px;
    padding: 50px
  }
  .join-social ul {
    margin: 50px auto;
  }
}

@media (max-width: 1366px) {}

@media (max-width: 1199px) {
  .join-social ul {
    margin: 40px auto;
    width: 60%;
  }
  .join-social ul li a img {
    height: 50px;
    width: 50px;
  }
  .join-enter-inputs input::placeholder{
    font-size: 22px !important;
  }
}

@media (max-width: 991px) {
  .enter-inner-box {
    width: 550px;
    height: 480px;
    padding: 40px;
  }
  .join-social ul li a img {
    height: 60px;
    width: 60px;
  }
  .join-social ul {
    margin: 40px auto;
  }
}

@media (max-width: 575px) {
  .enter-inner-box {
    width: 470px;
    height: 420px;
    padding: 30px;
  }
  .join-enter a.float-left, .join-enter a.float-right {
    border-radius: 5px;
    padding: 2px 26px;
  }
  .join-social ul li a img {
    height: 50px;
    width: 50px;
  }
  .join-social ul {
    margin: 30px auto;
  }
  .join-enter-inputs input {
    height: 30px;
    font-size: 22px;
  }
  .join-enter-inputs input::placeholder {
    font-size: 20px;
  }
  .join-submit button {
    padding: 2px 30px;
  }
}

@media (max-width: 400px) {
  .enter-inner-box {
    width: 350px;
    height: 320px;
    padding: 20px;
  }
  .join-enter-inputs input {
    height: 30px;
    font-size: 18px;
  }
  .join-enter-inputs input::placeholder {
    font-size: 18px !important;
  }
  .join-enter-inputs input {
    margin-bottom: 10px;
  }
  .join-social ul li a img {
    height: 40px;
    width: 40px;
  }
  .join-submit button {
    font-size: 18px;
  }
}

@media(max-width: 320px) {
  .enter-inner-box {
    width: 290px;
    height: 300px;
  }
  .join-social ul {
    margin: 20px auto;
  }
  .join-enter a.float-left, .join-enter a.float-right {
    font-size: 18px;
  }
}