.menu-main {
    background-image: url('../../assets/images/menu.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center;
}

.menu-main-box {
    background-color: rgba(200, 200, 200, 0.93);
    border-radius: 20px;
    min-width: 700px;
    text-align: center;
    padding: 30px;
}

.hello-text h2 span {
    color: #B958D9;
    font-size: 40px;
    text-shadow: 0px 3px 9px #b958d9;
}
.menu-main.single .hello-text h2 span{
    color: #ececec;
    text-shadow: 0px 3px 6px #575555;
    font-size: 50px;
}

.menu-links ul {
    list-style: none;
    text-align: center;
}
.menu-links ul li a{
    color: #ffffff;
    font-size: 46px;
}
.menu-links ul li.active a{
    color: #686464;
    position: relative;
}
.menu-links ul li.active a:before{
    content: "";
    background-color: #ffffff;
    width: 30%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
}
.menu-main.single .hello-text {
    position: absolute;
    top: 20%;
}
.menu-links-one button {
    background-color: #fff;
    border-radius: 40px;
    color: #B95FD7;
    font-weight: 600;
    padding: 7px 60px;
    font-size: 24px;
}
.menu-links-one button:focus {
    box-shadow: 1px 1px 30px #591d6b;
}
@media(max-width: 1366px) {}

@media(max-width: 1199px){
    .menu-main-box{
        min-width: 600px;
    }
    .menu-links ul li a, .hello-text h2 span{
        font-size: 36px;
    }
}

@media(max-width: 991px) {
    .menu-main-box{
        min-width: 520px;
    }
    .menu-links ul li a, .hello-text h2 span{
        font-size: 30px;
    }
    .menu-links ul li.active1 a:before{
        height: 3px;
    }
}

@media(max-width: 767px) {
    .menu-main-box{
        min-width: 400px;
    }
    .menu-links ul li a, .hello-text h2 span{
        font-size: 28px;
    }
}
@media(max-width: 575px) {
    .menu-main-box{
        min-width: 350px;
    }
    .menu-links ul li a, .hello-text h2 span{
        font-size: 24px;
    }
    .menu-main.single .hello-text h2 span {
        font-size: 40px;
    }
    .menu-links-one button {
        padding: 4px 40px;
        font-size: 21px;
    }
}
@media(max-width: 400px) {
    .menu-main-box{
        min-width: 280px;
    }
    .menu-links ul li a, .hello-text h2 span{
        font-size: 20px;
    }
    .menu-main.single .hello-text h2 span {
        font-size: 30px;
    }
}
