/*common css start*/

@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Manjari&display=swap');

body {
    font-family: 'Manjari', sans-serif ;
    padding: 0;
	margin: 0;
}


h1, h2, h3, h4, h5, h6, p {
	margin: 0
}

ul {
	padding: 0;
	margin: 0;
}

a {
	display: inline-block;
	text-decoration: none!important;
	outline: none!important;
}

/*common css end*/

/* tooltip design start */
.tooltip-class:hover:after {
    content: attr(tooltip-data);
    background: rgba(157, 55, 66, 0.9);
    border-radius: 5px;
    bottom: 110%;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    z-index: 98;
    font-size: 13px;
}
.menu-main .tooltip-class:hover:after {
    background: rgba(185, 88, 217, 0.57);
}
.menu-main .tooltip-class:hover:before {
    border-color: rgba(185, 88, 217, 0.57) transparent;
    color: #000;
}
/* tooltip design end */

/* create event css start here */

.create-event-slider .slick-arrow.slick-disabled {
    display: none !important;
}
.slick-slide{
    outline: none !important;
    box-shadow: none !important;
}
.create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
    background-color: #9D3742;
    color: #fff;
    font-size: 22px;
    padding: 7px 73px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
    z-index: 12;
}

.create-event-slider button.prevarrow.slick-arrow {
    left: 0;
}

.create-event-slider button.nextarrow.slick-arrow {
    right: 0;
}

/* create event css start here */

/* set-price css start here */
.set-price-main-slider button.prevarrow.slick-arrow, .set-price-main-slider button.nextarrow.slick-arrow {
    background-color: #A6B138;
    color: #fff;
    font-size: 18px;
    padding: 7px 33px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
}

.set-price-main-slider button.prevarrow.slick-arrow {
    left: 0;
}

.set-price-main-slider button.nextarrow.slick-arrow {
    right: 0;
}/* set-price css end here */

/* responsive css start */

@media(max-width: 1366px) {
    .andco-logo {
        margin: 20px 0px;
    }
    .andco-logo img {
        height: 70px;
    }
    /* create event css start */
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        font-size: 20px;
        padding: 3px 50px;
        bottom: -60px;
    }
    .create-event-hashtag-box input, .create-event-name-box input {
        border: 2px solid #fff;
        font-size: 25px;
        padding: 30px 0 30px 45px;
    }
    /* create  event css end */

    /* hello text */
    .hello-text h2 {
        font-size: 34px;
        max-width: 400px;
    }
}

@media(max-width: 1199px) {}

@media(max-width: 991px) {
    .andco-logo {
        margin: 10px 0px 0;
    }
    .andco-logo img {
        height: 50px;
    }
}

@media(max-width: 767px) {
    .hello-text h2 {
        max-width: 300px;
    }
}

@media(max-width: 575px) {
    .andco-logo img {
        height: 50px;
    }
    /* create event css start */
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        font-size: 16px;
        padding: 3px 40px;
    }
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        border-radius: 5px;
    }
    /* create  event css end */
    .hello-text h2 {
        font-size: 24px;
        max-width: 240px;
    }
}
@media (max-width: 400px){
    .andco-logo img {
        height: 40px;
    }
    .navigation_menu {
        height: 40px;
        width: 40px;
        top: 20px;
        left: 20px;
    }
}
@media(max-width: 320px) {}

@media only screen and (device-width: 320px) and (device-height: 480px) {
    .create-event-slider button.prevarrow.slick-arrow, .create-event-slider button.nextarrow.slick-arrow {
        bottom: -42px;
    }
}

/* responsive css end */